{% extends base_change_list_template %}
{% block javascripts %}
    {{ block.super }}
    <script type="text/javascript" charset="utf-8">
        (function($) {

            $(document).ready(function(){
                $('.grp-filter input.autocomplete').each(function() {
                    var $this = $(this);
                    var filter_query = $this.attr('name');
                    $("#id_"+filter_query).grp_autocomplete_fk({
                        lookup_url:"{% url 'grp_related_lookup' %}",
                        autocomplete_lookup_url:"{% url 'grp_autocomplete_lookup' %}"
                    });
                    $("#id_"+filter_query+'-autocomplete').prop('placeholder', 'All');
                    detect_change_last_val[filter_query] = -1;
                    detect_change(filter_query);
                });
            });

        })(django.jQuery);
    </script>
{% endblock %}